<h6>
  <%= link_to "HOME", root_path %>
  <%= link_to "ADMIN", admin_path %>
</h6>
<%= link_to "New language", new_language_path %>
<h1>Languages</h1>
<% @languages.each do |l| %>
  <%= "#{l.id} - #{l.name}" %>
  <br>
<% end %>


