<h6>
  <%= link_to "HOME", root_path %>
  <%= link_to "ADMIN", admin_path %>
</h6>

<%= link_to "Add user", controller: "users", action: "new" %>
<hr>
<% @users.each do |u| %>
  <%= "#{u.email}, #{u.language.name} " %><br>
<% end %>