<h6>
  <%= link_to "HOME", root_path %>
  <%= link_to "ADMIN", admin_path %>
</h6>

<div id="events">
  <% @events.each do |event| %>
    <%= phrase_that(event) %> <strong><%= time_tag event.created_at, "data-local": "time-ago" %></strong>
    <br>
  <% end %>
</div>