<h6>
  <%= link_to "HOME", root_path %>
  <%= link_to "ADMIN", admin_path %>
</h6>


<h1>Rights</h1>
<%= link_to "New right", new_right_path %>
<hr>
<div id="rights">
  <% @rights.each do |right| %>
    <%= right.id %>
    <br>
  <% end %>
</div>


