<h6>
  <%= link_to "HOME", root_path %>
  <%= link_to "ADMIN", admin_path %>
</h6>


<h1>Rights</h1>
<%= link_to "New right", new_right_path %>
<hr>
<div id="rights">
  <% @rights.each do |right| %>
    <%= link_to "#{right.language.name} - #{right.role} in #{right.user.named} ", edit_right_path(right) %>
    <br>
  <% end %>
</div>


