<h6>
  <%= link_to "HOME", root_path %>
  <%= link_to "ADMIN", admin_path %>
</h6>

<% if current_user.language.name == "English" %>

  <h1>New item</h1>

  <%= render "form", item: @item %>

  <br>
<% end %>
<div>
  <%= link_to "Back to items", items_path %>
</div>
